<div routerLink="/details/{{ customer?.id }}">
  <div
    class="max-w-xs w-80 text-white hover:scale-105 h-44 rounded-md linear-gradient shadow-lg flex flex-col items-center justify-start p-5 hover:bg-slate-200 hover:cursor-pointer hover:shadow-2xl transition-all"
  >
    <div class="w-16 h-16 rounded-full overflow-hidden drop-shadow-lg">
      <img
        class="w-16 h-16"
        *ngIf="customer?.gender == 'Male'"
        src="../../assets/Male.jpg"
      />
      <img
        class="w-16 h-16"
        *ngIf="customer?.gender != 'Male'"
        src="../../assets/Female.jfif"
      />
    </div>
    <div class="ml-3">
      <p class="font-bold text-xl text-center">
        {{ customer?.firstName + " " + customer?.lastName }}
      </p>
      <p class="text-center">{{ customer?.email }}</p>
    </div>
  </div>
</div>
