<nav class="w-screen bg-white shadow-xl h-fit p-5">
  <ul class="flex flex-row justify-start">
    <li class="mr-5 hover:translate-y-1 hover:text-gray-400 transition-all">
      <a routerLink="/">Dashboard</a>
    </li>
    <li class="mr-5 hover:translate-y-1 hover:text-gray-400 transition-all">
      <a routerLink="list">Customers</a>
    </li>
    <li class="mr-5 hover:translate-y-1 hover:text-gray-400 transition-all">
      <a routerLink="">Create</a>
    </li>
    <li class="mr-5 hover:translate-y-1 hover:text-gray-400 transition-all">
      <a routerLink="about">About</a>
    </li>
  </ul>
</nav>
