<nav
  class="w-screen from-sky-500 to-sky-300 bg-gradient-to-r text-white font-medium shadow-xl h-fit p-5"
>
  <ul class="flex flex-row flex-wrap justify-start">
    <li class="mr-10 text-xl">ABC Bank</li>
    <li class="mr-5 hover:translate-y-1 hover:text-gray-200 transition-all">
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-gray-200 underline underline-offset-4"
        >Dashboard</a
      >
    </li>
    <li class="mr-5 hover:translate-y-1 hover:text-gray-200 transition-all">
      <a
        routerLink="list"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-gray-200 underline underline-offset-4"
        >Customers</a
      >
    </li>
    <li class="mr-5 hover:translate-y-1 hover:text-gray-200 transition-all">
      <a
        routerLink="create"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-gray-200 underline underline-offset-4"
        >Create</a
      >
    </li>
    <li class="mr-5 hover:translate-y-1 hover:text-gray-200 transition-all">
      <a
        routerLink="about"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-gray-200 underline underline-offset-4"
        >About</a
      >
    </li>
  </ul>
</nav>
