<nav class="w-screen bg-white shadow-xl h-fit p-5">
  <ul class="flex flex-row justify-start">
    <li class="mr-5 hover:translate-y-1 hover:text-gray-400 transition-all">
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-gray-500 underline underline-offset-4"
        >Dashboard</a
      >
    </li>
    <li class="mr-5 hover:translate-y-1 hover:text-gray-400 transition-all">
      <a
        routerLink="list"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-gray-500 underline underline-offset-4"
        >Customers</a
      >
    </li>
    <li class="mr-5 hover:translate-y-1 hover:text-gray-400 transition-all">
      <a
        routerLink="create"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-gray-500 underline underline-offset-4"
        >Create</a
      >
    </li>
    <li class="mr-5 hover:translate-y-1 hover:text-gray-400 transition-all">
      <a
        routerLink="about"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-gray-500 underline underline-offset-4"
        >About</a
      >
    </li>
  </ul>
</nav>
