<div
  class="min-w-fit w-1/2 border mx-auto mt-10 justify-center items-center border-gray-100 flex-wrap shadow-lg rounded-md h-fit bg-white flex"
>
  <div
    class="w-72 pt-3 flex flex-col bg-gradient-to-b sm:h-96 from-slate-700 to-sky-900 text-white justify-center items-center"
  >
    <div class="w-32 h-32 border rounded-full overflow-hidden">
      <img
        class="w-32 h-32"
        *ngIf="customer?.gender == 'Male'"
        src="../../assets/Male.jpg"
      />
      <img
        class="w-32 h-32"
        *ngIf="customer?.gender != 'Male'"
        src="../../assets/Female.jfif"
      />
    </div>
    <p class="font-bold text-xl mt-3 mb-5">
      {{ customer?.firstName }} {{ customer?.lastName }}
    </p>
  </div>
  <div class="p-10">
    <p class="p-3 hover:bg-white bg-slate-50">
      <b>Gender:</b>
      {{ customer?.gender }}
    </p>
    <p class="p-3 hover:bg-white bg-slate-100">
      <b>Email:</b> {{ customer?.email }}
    </p>
    <p class="p-3 hover:bg-white bg-slate-50">
      <b>Address:</b> {{ customer?.address }}
    </p>
    <p class="p-3 hover:bg-white bg-slate-100">
      <b>Account type:</b> {{ customer?.accountType }}
    </p>
    <p class="p-3 hover:bg-white bg-slate-50">
      <b>Balance:</b> {{ customer?.balance | currency }}
    </p>
    <div class="flex justify-start w-52 mt-5">
      <button
        routerLink="/edit/{{ customer?.id }}"
        class="py-1 px-4 mr-2 hover:bg-green-500 transition-all bg-green-600 rounded-md text-white"
      >
        Edit
      </button>
      <button
        (click)="deleteCustomer()"
        class="py-1 px-4 border border-red-600 text-red-600 hover:bg-red-600 hover:text-white transition-all rounded-md"
      >
        Delete
      </button>
    </div>
  </div>
</div>
