<div
  class="min-w-fit w-1/2 border mx-auto mt-10 border-gray-100 p-5 flex-wrap shadow-lg rounded-md h-fit bg-white flex"
>
  <div class="w-32 h-32 border rounded-full overflow-hidden mr-10">
    <img
      class="w-32 h-32"
      *ngIf="customer?.gender == 'Male'"
      src="../../assets/Male.jpg"
    />
    <img
      class="w-32 h-32"
      *ngIf="customer?.gender != 'Male'"
      src="../../assets/Female.jfif"
    />
  </div>
  <div>
    <p class="font-bold text-xl text-gray-500 mb-5">
      {{ customer?.firstName }} {{ customer?.lastName }}
    </p>
    <p><b>Gender:</b> {{ customer?.gender }}</p>
    <p><b>Email:</b> {{ customer?.email }}</p>
    <p><b>Address:</b> {{ customer?.address }}</p>
    <p><b>Account type:</b> {{ customer?.accountType }}</p>
    <p><b>Balance:</b> {{ customer?.balance | currency }}</p>
    <div class="flex justify-start w-52 mt-5">
      <button
        routerLink="/edit/{{ customer?.id }}"
        class="py-1 px-4 mr-2 hover:bg-green-500 transition-all bg-green-600 rounded-md text-white"
      >
        Edit
      </button>
      <button
        (click)="deleteCustomer()"
        class="py-1 px-4 border border-red-600 text-red-600 hover:bg-red-600 hover:text-white transition-all rounded-md"
      >
        Delete
      </button>
    </div>
  </div>
</div>
